*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #111;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 93vw;
  padding: 0 10px;
  margin: 0 auto;
}

section {
}

/* Header */

.header-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.header-logo {
  margin-right: 8.2vw;
  padding: 10px 0;
}

.logo-icon {
  fill: #fff;
}

.header-nav {
  margin-right: auto;
}

.header-nav-list {
  display: flex;
  gap: 3.1vw;
}

.header-nav-link {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 0.9vw;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
  padding: 20px 0;
}

.current {
  display: flex;
  flex-direction: column;
}

.current::after {
  content: "";
  height: 1px;
  width: max-width;
  background-color: #fff;
}

.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 11vw;
  padding: 0.8vw;
  width: 13.4vw;
  height: 56px;
  cursor: pointer;
}

.btn-text {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 1.1vw;
  line-height: 1.1vw;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  margin-right: 22px;
}

.btn-pen {
  background-color: #fff;
  border-radius: 100%;

  width: 32px;
  height: 32px;
  padding: 8px;
}

@media (max-width: 1024px) {
  .container {
    max-width: 85.8vw;
    margin: 0 auto;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .header-logo {
    margin-right: auto;
  }

  .btn-pen {
    width: 46px;
    height: 46px;
    padding: 12px;
  }

  .header-btn {
    border: none;
    width: 46px;
  }
}

@media (min-width: 1023px) {
  .vissually-hidden-for-mobile {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.burger-icon {
  fill: azure;
}

.burger-btn {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  width: 46px;
  height: 46px;
  background-color: transparent;
  padding: 12px;
}

/* Hero */
.hero {
  padding-top: 72px;
}

.hero-career {
  border: 1px solid #fff;
  border-radius: 366px;
  width: 7vw;
  height: 2.6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24vw;
  padding: 10px;
}

.hero-career-text {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 1.1vw;
  line-height: 1.5vw;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  display: flex;
  gap: 6px;
  align-items: center;
}

.hero-career-text::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 100%;
}

.hero-upper-wrap {
  display: flex;
  margin-bottom: 62px;
}

.hero-title {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 5.7vw;
  line-height: 5.9vw;
  line-height: 0.96;
  letter-spacing: -0.02em;
  color: #fff;
  margin-bottom: 36px;
}

.title-inner-word {
  font-family: "Libre Baskerville", sans-serif;
  font-style: italic;
  font-weight: 400;
}

.hero-text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 1.1vw;
  line-height: 1.8vw;
  line-height: 1.6;
  color: #a0a0a0;
  max-width: 34vw;
}

.hero-lower-wrap {
  display: flex;
  margin-bottom: 268px;
}

.hero-image {
  border-radius: 100%;
  width: 11.1vw;
  height: 11.1vw;
  margin-bottom: 24px;
}

.hero-under-text {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 1.4vw;
  line-height: 1.8vw;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #fff;
  width: 16.25vw;
  margin-bottom: 32px;
}

.link-text {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
  font-size: 1.1vw;
  line-height: 1.1vw;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.link-border {
  border: 1px solid #fff;
  border-radius: 11.5vw;
  width: 16.1vw;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-lower-wrap {
  display: flex;
}

.link-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #26282c;
  height: 128px;
  border-radius: 1.1vw;
  padding: 0 30px;
  margin-bottom: 8px;
  width: 59vw;
}

.link-card:hover {
  background: linear-gradient(48deg, #5cd6b3 0%, #04b8c4 0.01%, #4bfa8a 100%);
}

.card {
}

.left-card-side {
  display: flex;
  align-items: center;
  width: 27.8vw;
}

.right-card-side {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10.4vw;
  width: 18.6vw;
}

.card-open-text {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
  font-size: 1.1vw;
  line-height: 1.1vw;
  line-height: 1;
  color: #fff;
}

.card-open-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 366px;
  padding: 8px 16px;
  width: 72px;
  height: 40px;
  background: #111;
  margin-right: 96px;
}

.card-title {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
  font-size: 2.9vw;
  line-height: 2.7vw;
  line-height: 0.96;
  letter-spacing: -0.02em;
  color: #fff;
  white-space: nowrap;
}

.card-title2 {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
  font-size: 2.9vw;
  line-height: 2.7vw;
  line-height: 0.96;
  letter-spacing: -0.02em;
  color: #fff;
  white-space: nowrap;
  margin-right: 13vw;
}

.card-span {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 1.1vw;
  line-height: 1.1vw;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #bababa;
  white-space: nowrap;
}

.cards-list {
  margin-left: 15vw;
}

@media (max-width: 1024px) {
  .hero-upper-wrap {
    flex-direction: column;
  }

  .hero-career-text {
    font-size: 3vw;
  }

  .hero-career {
    width: 19vw;
    margin-bottom: 24px;
  }

  .hero-title {
    font-weight: 800;
    font-size: 11vw;
    line-height: 11vw;
  }

  .hero-text {
    font-size: 3.5vw;

    line-height: 5.6vw;
    max-width: 85vw;
  }

  .hero-lower-wrap {
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-bottom: 96px;
  }

  .left-card-side {
    flex-direction: column;
  }

  .link-card {
    flex-direction: column;
    align-items: flex-start;
    height: 50vw;
    width: 85vw;
    padding-top: 20px;
    border-radius: 4.1vw;
  }

  .card-open-text {
    font-weight: 600;
    font-size: 3.5vw;
    line-height: 3.5vw;
  }

  .card-open-container {
    padding: 6px 12px;
    width: 59px;
    height: 40px;
    margin-bottom: 24px;
  }

  .card-title {
    font-size: 8.2vw;
    line-height: 8.2vw;
    margin-left: 20vw;
  }

  .card-title2 {
    font-size: 8.2vw;
    line-height: 8.2vw;
    margin-left: 20vw;
  }

  .hero-image-block {
    align-self: flex-start;
  }

  .hero-image {
    width: 35.8vw;
    height: 35.8vw;
    margin-top: 48px;
  }

  .hero-under-text {
    font-size: 4.6vw;
    line-height: 5.8vw;
    width: 60vw;
  }

  .link-text {
    font-size: 3.59vw;
    line-height: 3.59vw;
  }

  .link-border {
    border: 1px solid #fff;
    border-radius: 42.5vw;
    padding: 2vw;
    width: 59vw;
    height: 15.8vw;
  }
}

/* Culture */

.principales-border {
  border: 1px solid #fff;
  border-radius: 25.4vw;
  padding: 8px 16px;
  width: 8.7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.culture-title {
  font-family: "Proxima Nova", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 6vw;
  line-height: 6vw;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fff;
  margin-bottom: 76px;
}

.inner {
  font-family: "Libre Baskerville", sans-serif;

  font-weight: 700;
}

.culture-text {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 2.5vw;
  line-height: 2.9vw;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
}

.inner-span {
  font-weight: 400;
}

.culture-container {
  display: flex;
  margin-bottom: 75px;
}

.culture-info-wrap {
  margin-right: auto;
}
@media (max-width: 1024px) {
  .culture-container {
    flex-direction: column;
  }

  .culture-circles {
    width: 89vw;
    height: 70vw;
  }
}

/* Cards section */

.card-list {
  display: grid;
  flex-wrap: wrap;
  row-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  margin-bottom: 5.5vw;
}

.card-item {
  border: 1px solid #414141;
  border-radius: 22px;
  padding: 40px;
  flex-basis: calc((100%) / 3);
  height: 444px;
}

.item-title {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 1.9vw;
  line-height: 1.7vw;
  line-height: 0.89286;
  letter-spacing: -0.02em;
  color: #fff;
  margin-bottom: 20px;
}

.item-text {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 1.1vw;
  line-height: 1.7vw;
  line-height: 1.55;
  color: #fff;

  opacity: 0.6;
}

.card-image {
  margin-bottom: 30px;
}

@media (max-width: 1024px) {
  .card-image {
  }

  .item-title {
    font-size: 6.1vw;
    line-height: 6.4vw;
  }

  .item-text {
    font-size: 3.5vw;
    line-height: 5.6vw;
  }

  .card-list {
    grid-template-columns: 1fr;
  }

  .card-item {
    height: max-content;
  }
}

/* footer */

.footer-title {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 800;
  font-size: 7.2vw;
  line-height: 6.9vw;
  line-height: 0.96;
  text-transform: uppercase;
  color: #fff;
  width: 37vw;
  margin-bottom: 56px;
}

.under-title-link {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
  font-size: 1.4vw;
  line-height: 1.4vw;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 18.4vw;
  width: 22vw;
  height: 3.6vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-title {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 1.4vw;
  line-height: 1.9vw;
  line-height: 1.33;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.3;
  margin-bottom: 1.6vw;
}

.menu-title-item {
  margin-bottom: 1.3vw;
}

.footer-social-item {
  display: flex;
}

.menu-title-link {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
  font-size: 1.1vw;
  line-height: 1.1vw;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
}

.footer-social-link {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 2.2vw;
  line-height: 2.9vw;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
}

.footer-under-info {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 1.1vw;
  line-height: 1.1vw;
  line-height: 1;
  color: #fff;

  opacity: 0.6;
}

.main-footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-under-content {
  display: flex;
  margin-top: 8.3vw;
}

.footer-right-side {
  display: flex;
  gap: 7.8vw;
}

footer {
  padding-top: 12.5vw;
  padding-bottom: 7vw;
}

.right-under-content {
  display: flex;
  margin-left: 46.4vw;
  gap: 11.1vw;
}
